<div style="display: block;" >
  <div class="chartjs-block">
    <canvas baseChart
            [data]=[usersBlue.length,usersGreen.length,usersRed.length,usersYellow.length,usersIndigo.length,usersViolet.length,usersOrange.length]
            [labels]="pieChartLabels"
            [options]="pieChartOptions"
            [colors]="lineChartColors"
            [legend]="pieChartLegend"
            [chartType]="lineChartType"
            [plugins]="pieChartLegend">
    </canvas>
  </div>
  <div class="chart-wrapper">
    <canvas baseChart
            [data]=[usersBlue.length,usersGreen.length,usersRed.length,usersYellow.length,usersIndigo.length,usersViolet.length,usersOrange.length]
            [options]="radarChartOptions"
            [labels]="pieChartLabels"
            [chartType]="radarChartType">
    </canvas>
  </div>
  <canvas baseChart
          [data]=[usersBlue.length,usersGreen.length,usersRed.length,usersYellow.length,usersIndigo.length,usersViolet.length,usersOrange.length]
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [colors]="chartColors"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
          (chartClick)="chartClicked($event)">
  </canvas>
  <div class="table" >
  <mat-table [dataSource]="dataSource" >
    <!-- User name Definition -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> User name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Age Definition -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
    </ng-container>
    <!-- Color Definition -->
    <ng-container matColumnDef="color">
      <mat-header-cell *matHeaderCellDef> Color </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.color}} </mat-cell>
    </ng-container>
    <!-- Company Definition -->
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.company}} </mat-cell>
    </ng-container>
    <!-- Header and Row Declarations -->
    <mat-header-row *matHeaderRowDef="['username', 'date', 'color','company']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['username', 'date','color','company']"></mat-row>
  </mat-table>
    <button mat-raised-button  (click)="showAll()"  color="primary">All Client</button>
  </div>
</div>

